<div class="auth-layout">
  <div class="auth-layout__panel">
    <div class="auth-layout__pattern" aria-hidden="true"></div>
    <div class="auth-layout__brand">
      <span class="auth-layout__logo">JCD</span>
      <div>
        <p class="auth-layout__eyebrow">{{ 'layout.authEyebrow' | translate }}</p>
        <h1>{{ 'layout.appName' | translate }}</h1>
        <p>{{ 'layout.authTagline' | translate }}</p>
      </div>
      <ul class="auth-layout__features">
        <li>{{ 'layout.authFeatureMultiTenant' | translate }}</li>
        <li>{{ 'layout.authFeaturePermissions' | translate }}</li>
        <li>{{ 'layout.authFeatureDashboard' | translate }}</li>
      </ul>
    </div>
  </div>

  <div class="auth-layout__content">
    <div class="auth-layout__toolbar">
      <app-language-switcher />
    </div>
    <router-outlet />
  </div>
</div>
